# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [66]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [67]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/home/jovyan/work

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [68]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
#print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
#print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [69]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [70]:
from cassandra.cluster import Cluster

try: 
    # we are using a cassandra database on a docker container called cassandra
    cluster = Cluster(['cassandra']) 
    
    # create a session to establish a connection and for executing queries on
    session = cluster.connect()
except Exception as e:
    print(e)

#### Create Keyspace

In [71]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS project_music_db 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }""")

except Exception as e:
    print(e)

#### Set Keyspace

In [72]:
# Set KEYSPACE to the keyspace specified above
try:
    session.set_keyspace('project_music_db')
except Exception as e:
    print(e)

In [87]:
# Set Notebook wide variables

file = 'event_datafile_new.csv'

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

***

---

### Question 1
> Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4

---

In [80]:
# this query creates a table for artist, song title and song's length in the music app history that was heard during a 
# particular session and for a specific itemInSession number.
query = """
        CREATE TABLE artist_song_sessions (
            artist TEXT,
            song TEXT, 
            length FLOAT,
            sessionId INT,
            itemInSession INT,
            PRIMARY KEY (sessionId, itemInSession)
        );
    """
try:
    session.execute(query)
except Exception as e:
    print(e)

In [81]:
# Insert music app history data for the first query

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO artist_song_sessions (artist, song, length, sessionId, itemInSession)"
        query = query + "VALUES (%s, %s, %s, %s, %s)"
        
        session.execute(query, (line[0], line[9], float(line[5]), int(line[8]), int(line[3])))

### Verification
    Do a SELECT to verify that the data have been inserted into each table

In [82]:
# Select the data for sessionId=338 and itemInSession=4, to verify that data insertion was correct

query = "SELECT artist, song, length FROM artist_song_sessions WHERE sessionId = 338 AND itemInSession = 4"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row.artist, row.song, row.length)

Faithless Music Matters (Mark Knight Dub) 495.30731201171875

---

###  Question 2:
> Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

---

***CREATE TABLE user_songs for the second query***

In [83]:
# Create a table artist_song_user_sessions for the second query with userId and sessionId as partition and 
# itemInSession as clustering key.
query = """
        CREATE TABLE artist_song_user_sessions (
            artist TEXT,
            song TEXT,
            firstname TEXT,
            lastname TEXT,
            userId INT,
            sessionId INT,
            itemInSession INT,
            PRIMARY KEY ((userId, sessionId), itemInSession)
        );
    """
try:
    session.execute(query)
except Exception as e:
    print(e)

In [84]:
# Insert music app history data for the second query

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = \
            "INSERT INTO artist_song_user_sessions (artist, song, firstname, lastname, userId, sessionId, itemInSession)"
        query = query + "VALUES (%s, %s, %s, %s, %s, %s, %s)"
        
        session.execute(query, (line[0], line[9], line[1], line[4], int(line[10]), int(line[8]), int(line[3])))

***Verification***
> Do a SELECT to verify that the data have been inserted into each table

In [85]:
# Select name of artist, song and user (first and last name) for userid = 10, sessionid = 182

query = \
    "SELECT artist, song, firstname, lastname FROM artist_song_user_sessions WHERE userId = 10 AND sessionId = 182"
try:
    results = session.execute(query)
except Exception as e:
    print(e)
    
for row in results:
    print(row.artist, row.song, row.firstname, row.lastname)

Down To The Bone Keep On Keepin' On Sylvie Cruz
Three Drives Greece 2000 Sylvie Cruz
Sebastien Tellier Kilometer Sylvie Cruz
Lonnie Gordon Catch You Baby (Steve Pitron & Max Sanna Radio Edit) Sylvie Cruz

---

###  Question 3
> Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

---

***CREATE TABLE user_songs for the third query***

In [86]:
query = """
        CREATE TABLE user_songs (
            firstname TEXT,
            lastname TEXT,
            song TEXT,
            PRIMARY KEY (song)
        );
    """
try:
    session.execute(query)
except Exception as e:
    print(e)

In [88]:
# Insert music app history data for the second query

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = \
            "INSERT INTO user_songs (firstname, lastname, song) VALUES (%s, %s, %s)"
        
        session.execute(query, (line[1], line[4], line[9]))

***Verification***
> Do a SELECT to verify that the data have been inserted into each table

In [89]:
# Select name of firstname, lastname and song for all users who listened to the song 'All Hands Against His Own'

query = "SELECT firstname, lastname FROM user_songs WHERE song='All Hands Against His Own'"
try:
    results = session.execute(query)
except Exception as e:
    print(e)
    
for row in results:
    print(row.firstname, row.lastname)

Tegan Levine

### Drop the tables before closing out the sessions

In [90]:
# Drop the table before closing out the sessions

tables = ['artist_song_sessions', 'artist_song_user_sessions', 'user_songs']

for table_name in tables:
    query = "drop table " + table_name
    try:
        rows = session.execute(query)
    except Exception as e:
        print(e)

### Close the session and cluster connectionÂ¶

In [91]:
session.shutdown()
cluster.shutdown()